<!DOCTYPE html>
<html>
<head>
    <title>EJS esimerkki</title>
</head>
<body>
    <%- include('_header') %>
    <h1><%= message %></h1>
    <% if (isLoggedIn) { %>
        <p><strong>Olet kirjautunut sisään</strong></p>
      <% } else { %>
        <p><strong>Et ole kirjautunut sisään</strong></p>
      <% } %>
    <ul>
         <% items.forEach(function(item) { %>
          <li><%= item %></li>
        <% }); %>
    </ul>
    <table border="1" cellpadding="5">
        <thead>
          <tr>
            <th>Nimi</th>
            <th>Sähköposti</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user) { %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <%- include('_footer') %>
</body>
</html>
